
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #121212;
    color: white;
    height: 115px;
    margin: 0 100px;


    .navbar-logo{
        .logo{
            width: 256px;
            height: 83px;
            object-fit: cover;
            object-position: 0% 47%;
        }
    }

    .navbar-menu{
        display: flex;


        .navbar-menu-item{
            margin: 0 25px;
            font-size: 30px;
            cursor: pointer;
        }

        .navbar-menu-item:hover{
            color: var(--primary-color);
        }
    }
}